// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


th {
	background-color:black;
	color:white;
}

td {
	background-color: #233257;
	color:white;
}